.comment {
    border: black solid 1px;
    display: flex;
    border-radius: 8px;
    margin: 10px;
}

ul {
    list-style: none;
}

#allComments {
    display: flex;
    font-family: Rubik;
    max-width: 43%;
}


.postInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.text {
    display: flex;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 30px;
    height: 85px;
    border: solid black 1px;
    border-radius: 8px;
    margin: 10px;
}

img.plus,
img.minus {
    width: 12px;
}

img.picture {
    width: 30px;
}