.comment {
    display: flex;
    border-radius: 8px;
    margin: 20px;
    background-color: white;
    padding: 15px;
}

ul {
    list-style: none;
}

#allComments {
    display: flex;
    font-family: Rubik;
    width: 47%;
}

.reply {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
}

.replyImage {
    width: 15px;
    height: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:hsl(228, 33%, 97%);
}

.postInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
}

.text {
    display: flex;
    color: gray;
    padding: 10px;
}

.date {
    color: gray;
}

.name {
    font-weight:500;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 33px;
    height: 85px;
    border-radius: 8px;
    margin: 10px;
    background-color: hsl(228, 33%, 97%);
}

img.plus,
img.minus {
    width: 12px;
}

img.picture {
    width: 30px;
}