.comment {
    display: flex;
    border-radius: 8px;
    margin: 20px;
    background-color: white;
    padding: 15px;
}

ul {
    list-style: none;
}

#allComments {
    display: flex;
    font-family: Rubik;
    width: 47%;
}

.postBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reply {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color:hsl(238, 40%, 52%);
    font-weight: 500;
}

.reply:hover {
    background-color: rgba(240, 248, 255, 0.359);
    border-radius: 10px;
}

.reply:active {
    color: hsl(239, 57%, 85%);
}

img.plus:hover {
    background-color: rgba(240, 248, 255, 0.359);
    border-radius: 10px;
}

img.plus:active {
    color: hsl(239, 57%, 85%);
}

.replyImage {
    width: 13px;
    height: 13px;
    margin-right: 7px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:hsl(228, 33%, 97%);
}

.postInfo {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.text {
    display: flex;
    color: gray;
    padding: 10px;
}

.date {
    color: gray;
}

.name {
    font-weight:500;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 33px;
    height: 85px;
    border-radius: 8px;
    margin: 10px;
    background-color: hsl(228, 33%, 97%);
    color:hsl(238, 40%, 52%);
    font-weight: 500;
}

img.plus,
img.minus {
    width: 12px;
}

img.picture {
    width: 30px;
}